@font-face {
  font-family: "flaticon";
  src: url("../fonts/flaticonaad4.ttf?45c18b42944e50c8177c4fa1a4c10f72") format("truetype"),
url("../fonts/flaticonaad4.woff?45c18b42944e50c8177c4fa1a4c10f72") format("woff"),
url("../fonts/flaticonaad4.woff2?45c18b42944e50c8177c4fa1a4c10f72") format("woff2"),
url("../fonts/flaticonaad4.eot?45c18b42944e50c8177c4fa1a4c10f72#iefix") format("embedded-opentype"),
url("../fonts/flaticonaad4.svg?45c18b42944e50c8177c4fa1a4c10f72#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-3d-design:before {
  content: "\f101";
}
.flaticon-analysis:before {
  content: "\f102";
}
.flaticon-money:before {
  content: "\f103";
}
.flaticon-network:before {
  content: "\f104";
}
.flaticon-prototype:before {
  content: "\f105";
}
.flaticon-technical-support:before {
  content: "\f106";
}
